/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  max-width: 100%;
} */

/* debug */

.main-section {
  width: 100%;
  background-color: lightgreen;
  height: calc(100vh - 100px);
  display: flex;
}

.lateral-nav {
  width: 20%;
  background-color: red;
}

.centratura-sez {
  width: 90%;
  height: calc(100vh - 100px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

.logo-cont img {
  width: 200px;
  height:100px;
}

/* .navigation-button {
  display: flex;
  flex-direction: column;
} */

.navigation-buttons img {
  width: 30px;
  height: 30px;
}

.playlist-container {
  display: flex;
  flex-direction: column;
}

/* .nome-utente,
.installa-app {
  display: flex;
  flex-direction: row;
} */

.download-logo img {
  width: 20px;
  height: 20px;
}

.username-container {
  display: flex;
  flex-direction: column;
}

.installa-app {
  display: flex;
  align-items: center;
}

.nome-utente {
  display: flex;
  align-items: center;
}

.username-img img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightgray;
}

/* upgrade sezione */
.upgrade {
  width: 100%;
  height: 10%;
  background-color: #080b12;
  display: flex;
  flex-flow:nowrap row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.upgrade a {
  text-decoration: none;
  border:1px solid white;
  border-radius: 60%;
  padding: 15px;
  color:white;
}

.nav-music {
  width: 60%;
  margin:2% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-voce-music a {
  text-decoration: none;
  color:lightgray;
}

.recently-played,
.text-for-you,
.text-artists {
  padding:1%;
}

.copertine {
  display: flex;
  flex-direction: row;
}

.cover {
  width: 200px;
  min-height: 200px;
  /* debug */
  background-color: red;
  border:1px solid black;
  padding: 1%;
}

.cover img {
  max-width: 100%;
  height: auto;
}


.cover-for-you {
  width: 200px;
  min-height: 200px;
  /* debug */
  background-color: red;
  border:1px solid black;
  padding: 1%;
}

.cover-for-you img {
  max-width: 100%;
  height: auto;
}


.cover-popular {
  width: 200px;
  min-height: 200px;
  /* debug */
  background-color: red;
  border:1px solid black;
  padding: 1%;
}

.cover-popular img {
  max-width: 100%;
  height: auto;
}


/* sezione music centrale */
.music-content {
  width: calc(100% - 20%);
  background-color: #141922;
  overflow: auto;
  /* overflow:hidden; */
}

.player {
  width: 100%;
  height:100px;
  background-color: pink;
}
