/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */

.main-section {
  width: 100%;
  background-color: lightgreen;
  height: calc(100vh - 100px);
  display: flex;
}

.lateral-nav {
  width: 20%;
  background-color: red;
}

.music-content {
  width: calc(100% - 20%);
  background-color: black;
}

.player {
  width: 100%;
  height:100px;
  background-color: pink;
}
