/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
  color: #717171;
  font-weight: bold;
}

hr {
  border-color: #717171;
  margin:2% 0;
}

/* debug */

.main-section {
  width: 100%;
  background-color: lightgreen;
  height: calc(100vh - 100px);
  display: flex;
}

.lateral-nav {
  width: 20%;
  background-color: #000000;
}

.crea-playlist h3 {
  color: white;
}

.add-to-playlist, .nome-playlist, .installa-text {
  color:#717171;
}

.installa-text {
  margin-left: 3%;
  font-size: 20px;
  font-weight: bold;
}

.nome-text {
  color: white;
  margin-left: 3%;
  font-size:20px;
}

.centratura-sez {
  width: 90%;
  height: calc(100vh - 100px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

.logo-cont {
  width: 80%;
  margin-bottom: 10%;
  display: block;

}
.logo-cont img {
  width: 100%;
}

.logo-hidden {
  width: 20%;
  margin-bottom: 10%;
  display: none;
}

.logo-hidden img {
  max-width: 30px;
  height: 30px;
}


.navigation-buttons {
  width: 90%;
  margin-bottom: 15%;
}

.navigation-buttons img {
  max-width: 30px;
  height: 30px;
}

.scomparsa {
  padding: 2%;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.far.fa-plus-square {
  font-size: 40px;
}

.nome-playlist {
  margin: 5% 0;
}

.download-logo img {
  width: 20px;
  height: 20px;
}

.username-container {
  display: flex;
  flex-direction: column;
}

.installa-app {
  display: flex;
  align-items: center;
}

.nome-utente {
  display: flex;
  align-items: center;
}

.username-img img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightgray;
}

/* upgrade sezione */
.upgrade {
  width: 100%;
  height: 10%;
  background-color: #080b12;
  display: flex;
  flex-flow:nowrap row-reverse;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 100;

}

.upgrade a {
  text-decoration: none;
  border:1px solid white;
  border-radius: 60%;
  padding: 15px;
  color:white;
}

.nav-music {
  width: 80%;
  margin:2% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-voce-music {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: space-around;
  flex-wrap: wrap;
}

.nav-voce-music a {
  text-decoration: none;
  color:lightgray;

}

.recently-played,
.text-for-you,
.text-artists {
  padding:1%;
}

.copertine {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.cover {
  width: calc(100% / 6);
  min-height: 200px;
  /* debug */
  /* background-color: red; */
  border:1px solid black;
  padding: 1%;
}

.cover img {
  max-width: 100%;
  height: auto;
}


.cover-for-you {
  width: 200px;
  min-height: 200px;
  /* debug */
  /* background-color: red; */
  border:1px solid black;
  padding: 1%;
}

.cover-for-you img {
  max-width: 100%;
  height: auto;
}


.cover-popular {
  width: 200px;
  min-height: 200px;
  /* debug */
  /* background-color: red; */
  border:1px solid black;
  padding: 1%;
}

.cover-popular img {
  max-width: 100%;
  height: auto;
}


/* sezione music centrale */
.music-content {
  width: calc(100% - 20%);
  background-color: #141922;
  overflow: auto;
}

.player {
  width: 100%;
  height:100px;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* debug */
  background-color: #282828;
}

/* contenitore player sinistra */
.sx-player {
  width: 20%;
  min-height:50px;
  background-color: white;
  border:1px solid black;
  display: flex;
  flex-flow: nowrap row;
  justify-content:
  flex-grow: 2;
}

#cover-player {
  width: calc((100% / 3) - 2%);
  margin:2%;
  align-self: center;
}

#cover-player img {
  width: 60px;
}

#title-song {
  width: calc((100% / 3) - 2%);
  align-self: center;
}

#title-song p {
  font-size: 10px;
}

#title-song h4 {
  font-size: 16px;
}

#favourite {
  width: calc((100% / 3) - 2%);
  margin:2%;
  align-self: center;
  /* padding-left: 35%; */
  display: flex;
  justify-content: flex-end;
}

#heart {
  margin-right: 20%;
}

/* contenitore player centrale */
.center-player {
  width: 60%;
  margin:0 auto;
  min-height:50px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controlli-player {
  width: 60%;
  margin:0 auto;
  border:1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls {
  padding: 0 5%;
}

.time-controls {
  width: 60%;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.time-bar {
  width: 80%;
  height: 1%;
  border:1px solid white;
  background-color: white;
  align-self: center;
}

/* contenitore player destra */
.dx-player {
  width: 20%;
  min-height:50px;
  background-color: green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right-controls {
  margin-right: 4%;
}

.volume-control {
  width: 50%;
  border:1px solid white;
}



/* MEDIA QUERIES */

/* media query xs */
@media all and (max-width:767px){

  .lateral-nav {
    width: 8%;
  }

  .centratura-sez {
    align-items: center;
  }

  .nav-music {
    flex-wrap: wrap-reverse;
  }

  .nav-voce-music {

    flex: 0 0 25%;
  }

  .scomparsa {
    display: none;
  }

  .logo-hidden {
    display: block;
  }

  .logo-cont {
    display: none;
  }

  .playlist-container {
    display: none;
  }

  .installa-text, .nome-text {
    display: none;
  }

  hr {
    display: none;
  }

  /* sezione music centrale ridimensionamento*/
  .music-content {
    width: calc(100% - 10%);
  }


  /* ridimensionamento cover */
  .cover {
    flex: 0 0 40%;
  }

  .copertine {
    flex-wrap: wrap;
  }

  .cover-for-you {
    flex: 0 0 40%;
  }

  .cover-popular {
    flex: 0 0 40%;
  }

  #favourite {
    display: block;
  }

  /* sezione player sinistro */
  .sx-player {
    flex:2 0 30%;
  }

  #cover-player {
    width: 80%;
  }

  #cover-player {
    padding:5%;
  }

  #cover-player img {
    width: 40px;
    align-items: center;
  }

  #title-song {
    margin:5%;
  }

  #title-song p {
    font-size: 10px;
  }

  #title-song h4 {
    font-size: 16px;
  }

  .center-player {
    width: 45%;
  }

  .time-controls {
    width: 90%;
  }

  .time-bar {
    width: 50%;
  }

  .time-passed {
    justify-content: space-between;
  }

  .dx-player {
    width: 30%;
  }

  .volume-control {
    width: 40%;
    border: 1px solid white;
    margin: 0 auto;
  }

}

/* media query sm */
@media all and (min-width:768px) and (max-width:991px){

  /* ridimensionamento cover */
  .cover {
    flex: 0 0 25%;
  }

  .copertine {
    flex-wrap: wrap;
  }

  .cover-for-you {
    flex: 0 0 25%;
  }

  .cover-popular {
    flex: 0 0 25%;
  }

  #cover-player {
    width: 60%;
    margin:5%;
  }

  /* risistemazione favourite e folder */
  #favourite {
    display: block;
  }



}

/* media query md */
@media all and (min-width:992px) and (max-width:1200px){

  /* ridimensionamento cover */
  .cover {
    flex: 0 0 calc(100% / 6);
  }

  .copertine {
    flex-wrap: wrap;
  }

  .cover-for-you {
    flex: 0 0 calc(100% / 6);
  }

  .cover-popular {
    flex: 0 0 calc(100% / 6);
  }

}

/* media query lg */
@media all and (min-width:1200px){

  .cover {
    flex: 0 0 calc(100% / 6);
  }

  .copertine {
    flex-wrap: wrap;
  }

  .cover-for-you {
    flex: 0 0 calc(100% / 6);
  }

  .cover-popular {
    flex: 0 0 calc(100% / 6);
  }

}
